@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Fraunces:opsz,wght@9..144,800&family=Work+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Work Sans', sans-serif;
}
/* :root{
    --ligth-blue: #0aa4e2;
    --white: #ffffff;
    --gray: #797979;
    --ligth-gray: #ebeced;
}
.content-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    background-image: url(../images/blue-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.one {
    padding: 2rem;
    width: 15rem;
    box-shadow:0 5px 25px rgba(1 1 1 / 30%);
    position: relative;
    overflow: hidden;
    
    
}

.number {
    position:relative;
    font-weight: 800;
    font-size: 1.8rem;
    color: var(--gray);
    top: 2em;
    opacity: 0.5;
   
}
.title {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 1.2rem;
}
.pa {
    text-transform: capitalize;
    font-weight: 100;
    font-size: 0.8rem;
    color: var(--gray);
}
@keyframes topp{
    0%{
        top: 2em;
    }
    100%{
        top: -0.5em;
    }
}
@keyframes col{
 0% 
 {
    background-color: #eee;
       
        
 }
 100%{
  
    background-color: #0aa4e2;
 }
}

.one:hover .number {
    animation-name: topp;
    animation-duration: 1s;
    color: #ffffff;
}
.one:hover {
    animation-name: col;
    animation-duration:2s; 
    animation-direction: alternate;
    animation-timing-function: linear;
}
.one:hover .pa {
    color: #ffffff;
}
.one:hover .title {
    color: #ffffff; 
}
*/
/********************************Assignment 2***************************************/
.home {
    text-align: center;
    padding: 1rem;
    width: 100%;
    /* height: 100vh; */
    /* background-image: url(../images/ee.jpeg);
    background-repeat: no-repeat; */
}
.home img {
    width: 100px;
    border-radius: 50%;
}
.title { 
   text-transform: capitalize;
   font-weight: 800;
   font-size: 1.2rem;
   color: rgba(0, 0, 0, 0.767);
   padding: 1em 0;
}
.aa {
    display: flex;
    gap: 15px;
    justify-content: center;
}
.second .title { 
    padding-bottom: 0;
}
 p  {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 0.8rem;
    color: gray;
    padding: 1em 0;
    padding-bottom:3rem;
 }
.home a {
    padding:0.5rem 1rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #ffff;
    background-color: blueviolet;
    border-radius:25px;
    font-size: 1rem;
}
.home .one{
    background-color: gray;
}
.home .tit {
    padding-top: 5rem;
        text-transform: capitalize;
        font-weight: 800;
        font-size: 1.2rem;
        color: rgba(0, 0, 0, 0.637);
}
.second .right img {
    width: 600px;
    height: 400px;
}
.second {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10rem;
   flex-wrap: wrap;
}
.third,
.four {
    text-align: center;
}
.third img {
    width: 800px;
}
.fourr {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fourr img {
    width: 50px;
    border-radius: 50%;
}
.five {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    align-items: center;
}
.footer 
{
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer img {
    width: 100px;
    border-radius: 50%;
}
.ppp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ppp p{
    margin: 0 15PX;
    font-weight: 400;
    font-size: 1.2rem;
}
@media (max-width:800px) {
    .third img {
        width: 500px;
    }
    .second .right img {
        width: 400px;
        height: 200px;
    }
    .home .one {
        margin-bottom: 3rem;
    }
    .second {
        text-align: center;
    }
    .aa {
       flex-direction: column;
       width: fit-content;
       margin: auto;
    }
}
@media (max-width:500px) {
    .third img {
        width: 250px;
    }
    .second .right img {
        width: 200px;
        height: 100px;
    }
    .home .a {
        margin: 20px;
    }
    .footer 
{
   flex-direction: column;
}
.second {
    text-align: center;
}
.aa {
    flex-direction: column;
    width: fit-content;
    margin: auto;
 }
}
@media (max-width:290px) {
    .third img {
        width: 150px;
    }
    .second .right img {
        width: 100px;
        height: 100px;
    }
    .footer 
{
   flex-direction: column;
}
.second {
    text-align: center;
}
.aa {
    flex-direction: column;
    width: fit-content;
    margin: auto;
 }
}